/* Global settings */
:root {
  --primary-color: #edeef3;
  --secondary-color: #0e0e0e;
  --accent-color: #edf2f4;
  --font-color: #f6f6f6;
  --font-family: 'Orbitron', sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--primary-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Centering header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
}

/* Centering navigation list */
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

/* Centering hero banner content */
.hero-banner__content {
  max-width: 1200px;
  margin: 2rem auto; /* Centers the hero banner content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Centering about section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* Work projects section */
.work__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Maximum width of the work projects container */
  margin: 0 auto; /* Centering the container */
}

/* Individual project styling */
.project {
  margin: 0.5rem;
  width: calc(100% - 1rem); /* Full width minus margin */
}

/* Row of projects */
.project-row {
  display: flex;
  flex-wrap: wrap; /* Wraps projects to the next line if there isn't enough space */
  justify-content: space-around; /* Evenly spaces out projects */
  width: 100%;
  gap: 1rem; /* Space between projects */
}

/* Project descriptions */
.project-description {
  text-align: center;
}

/* Footer styling */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: var(--secondary-color);
}

/* Responsive images */
.work__image {
  width: 100%; /* Responsive image size */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive media queries */
@media (min-width: 768px) {
  .project-row {
    justify-content: center; /* Center projects in the row */
  }

  .project {
    max-width: calc(50% - 1rem); /* Half width for larger screens */
  }
}

@media (min-width: 1024px) {
  .about-section {
    flex-direction: row;
    justify-content: space-around;
  }

  .project {
    max-width: calc(33.333% - 1rem); /* Third width for even larger screens */
  }
}
